# DB Connection
DATABASE_URL="postgresql://postgres:YOUR_POSTGRESQL_PASSWORD@localhost:5432/think_space?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
# NEXT_PUBLIC_APP_URL="http://10.184.214.248:3000"
# BETTER_AUTH_URL="http://10.184.214.248:3000"
BETTER_AUTH_SECRET="any_random_long_string_here_any_random_long_string_here_any_random_long_string_here_any_random_long_string_here_any_random_long_string_here"
NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY="pk_dev_YOUR_LIVEBLOCK_PUBLIC_KEY"
LIVEBLOCKS_SECRET_KEY="sk_dev_YOUR_LIVEBLOCK_SECRET_KEY"